<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageNam %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="<%= pageNam==='Index Page'?'active':'' %>" href="/"
              >Home</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= pageNam==='Add Product'?'active':'' %>"
              href="/admin/add-product"
              >Add Product</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= pageNam==='Admin Products'?'active':'' %>"
              href="/admin/products"
              >Admin Products</a
            >
          </li>
          <li class="main-header__item">
            <a class="<%= pageNam==='My Cart'?'active':'' %>" href="/cart"
              >Cart</a
            >
          </li>

          <li class="main-header__item">
            <a class="<%= pageNam==='My Orders'?'active':'' %>" href="/orders"
              >Orders</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= pageNam==='All Products'?'active':'' %>"
              href="/products"
              >All Products</a
            >
          </li>
        </ul>
      </nav>
    </header>

