<%- include('../includes/layouts',{ pageNam: pageName}) %>

<ul>
    <% if(products.length >0){%>
          <%for(prod of products){ %>
            <li><%= prod.title %>(<%= prod.cartItems.quantity %>)</li>
            <form action="/cart_deleteItems" method ="POST">
                <input type="hidden" name="productId" value="<%=prod.id %>">
                <button class="btn" type="submit">Delete</button>
            </form>
            <% } %>
        </ul>

        <%}else{%>
       <h1>No products added in cart</h1>
            <%}%>


<%- include('../includes/end') %>
